body {
  font-family: Sans;
}

#map_div {
  width: 600px;
  height: 400px;
}


table .value {
  text-align: right;
}

div#credits {
  font-size: 8;
}

#legend_div {
  background-color: #ccc;
  border-color: #444;
  border-width: 2px;
  font-size: 10px;
  font-family: Univers, sans-serif;
  margin: 5px;
  border: 0px;
  padding: 5px;
  width: 580px;
}

#legend_div svg {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#legend_div table,tr,td {
  border: 0px;
  padding: 0px 0px 0px 0px;
  margin-left: 20px;
  border-spacing: 0;
}

p.page_title {
  font-weight: bold;
  font-size: 14pt;
}

#legend_div td.legend_indicator {
  padding-left: 10px;
}

#legend_div p.legend_layer_name {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: bold;
  border: 0px;
  padding: 0px;
}

#legend_div p.legend_value {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 10px;
  border: 0px;
  padding: 0px;
}

tr.legend_dimension {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  text-align: right;
}

.legend_indicator {
  font-size: 1px;
}

div.label_div {
  width: 120px;
  margin-left: -60px;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-right: 0px;
  border: 0px;
  padding: 0px;
  text-align: center;
  pointer-events: none;
}

div.label_div p {
  margin: 0px;
  font-size: 7px;
  font-family: Univers, sans-serif;
}